<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="doxa" class="nav-link">Kỹ thuật</a>
      </li>
      <div class="dropdown">
        <ul class="nav-item" style="margin-bottom: 2px"><a  class="nav-link">Kinh doanh</a>
          <div class="dropdown-content" style="margin-top: 0px">
            <a routerLink="kinhdoanh">Phân tích dòng điện</a>
            <a routerLink="bdpt">Biểu đồ phụ tải</a>
            <a routerLink="chuan_hoa">Chuẩn hóa dữ liệu C06</a>
          </div>
        </ul>
      </div>
      <li class="nav-item">
        <a routerLink="cntt" class="nav-link">CNTT</a>
      </li>
      <li class="nav-item">
        <a routerLink="manage-device" class="nav-link">Manage Device</a>
      </li>
      <div class="dropdown">
        <ul class="nav-item" style="margin-bottom: 2px"><a  class="nav-link">Thiết bị</a>
          <div class="dropdown-content" style="margin-top: 0px">
            <a routerLink="kinhdoanh">Người sử dụng</a>
            <a routerLink="bdpt">Loại thiết bị</a>
            <a routerLink="chuan_hoa">Loại thành phần</a>
          </div>
        </ul>
      </div>
    </div>

    <!--        <button type="button" class="btn btn-danger" >Đăng xuất</button>-->
  </nav>

  <div class="container mt-3">
  </div>

</div>

<div class="col-md-12">
  <router-outlet></router-outlet>
</div>
